<div class="card shadow mb-4">
    <h2 style="margin-left: 10px; ">Quản lý nhân viên</h2>
    <div class="card-body">
        <a routerLink="/admin/nhanvien/themmoi" class="btn btn-sm btn-primary" >
            Thêm mới
        </a>
    </div>
    <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Số điện thoại</th>
                <th>Quê quán</th>
                <th>Nơi cư trú</th>
                <th>Email</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of nhanvien">
                <td>{{item.MaNV}}</td>
                <td>{{item.TenNV}}</td>
                <td>{{item.GioitinhNV}}</td>
                <td>{{item.NgaysinhNV}}</td>
                <td>{{item.SdtNV}}</td>
                <td>{{item.Quequan}}</td>
                <td>{{item.Noicutru}}</td>
                <td>{{item.EmailNV}}</td>
                <td>
                    <a href="/admin/nhanvien/sua/{{item.MaNV}}" class="btn btn-sm btn-primary">Edit</a>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="onDelete(item.MaNV)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>