<div>
    <ul style="list-style-type: none; overflow: hidden;background-color: green; width: 100%;">
        <li style="float: left;">
            <a style="color: white;padding: 19px;font-size: 20px; margin-left: 120px;" href="/Home/trangchu">Trang chủ</a>
        </li>
        <li style="float: left;">
            <a style="margin-left: 20px; color: white;padding: 19px;font-size: 20px;" href="/Home/dsloaisp">Danh sách loại sản phẩm</a>
        </li>
        <!--<li><a href="#">Promotion</a></li>-->
        <li style="float: left;">
            <a style="color: white;padding: 19px;font-size: 20px; margin-left: 20px;" href="/Home/spmoi">Sản phẩm mới</a>
        </li>
        <li style="float: left;">
            <a style="color: white;padding: 19px;font-size: 20px; margin-left: 20px;" href="#">Liên hệ</a>
        </li>
        <li style="float: left;">
            <a style="color: white;padding: 19px;font-size: 20px; margin-left: 20px;" href="#">Tin tức</a>
        </li>
        <li style="float: left;">
            <a style="color: white;padding: 19px;font-size: 20px; margin-left: 20px;" href="#">Khuyến mại</a>
        </li>
    </ul>
</div>