<div class="card shadow mb-4">
    <h2 style="margin-left: 10px; ">Quản lý sản phẩm</h2>
    <div class="card-body">
        <a routerLink="/admin/sanpham/themsp" class="btn btn-sm btn-primary" >
            Thêm mới
        </a>
    </div>
    <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Mã loại</th>
                <th>Mã nhà cung cấp</th>
                <th>Tên sản phẩm</th>
                <th>Ảnh</th>
                <th>Mô tả</th>
                <th>Đơn giá</th>
                <th>Ngày tạo</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead> 
        <tbody>
            <tr *ngFor="let item of sanpham">
                <td>{{item.MaSP}}</td>
                <td>{{item.MaLoai}}</td>
                <td>{{item.MaNCC}}</td>
                <td>{{item.TenSP}}</td>
                <td>
                    <img style="width: 70px;height: 70px;" src="assets/img/sanpham/{{item.Anh}}" alt="">
                </td>
                <td>{{item.Mota}}</td>
                <td>{{item.Dongia}}</td>
                <td>{{item.NgayTao}}</td>
                <td>
                    <a href="" class="btn btn-sm btn-primary">Edit</a>
                </td>
                <td>
                    <button class="btn btn-sm btn-danger" (click)="onDelete(item.MaSP)">Del</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>