
<footer id="footer">
    <div class="container">
        <!-- introduce-box -->
        <div id="introduce-box" class="row">
            <div class="col-md-5">
                <div id="address-box">
                    <div id="address-list">
                        <div class="tit-name">Địa chỉ</div>
                        <div class="tit-contain">20A Đại Lộ Hồ Chí Minh, TP Hải Dương</div>
                        <div class="tit-name">Hotline:</div>
                        <div class="tit-contain">0381577890</div>
                        <div class="tit-name">Email:</div>
                        <div class="tit-contain">dautayshop@gmail.com</div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="introduce-title">Thông tin shop</div>
                        <ul id="introduce-support" class="introduce-list">
                            <li> Thời gian mở cửa: 7h30 - 18h</li>
                            <li><a href="#">Thông tin tuyển dụng</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <div class="introduce-title">Khách hàng</div>
                        <ul id="introduce-Account" class="introduce-list">
                            <li><a href="#">Khách hàng thân thiết</a></li>
                            <li><a href="#">Câu hỏi thường gặp</a></li>
                            <li><a href="#">Phương thức mua hàng</a></li>
                            <li><a href="#">Phương thức thanh toán</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <p class="text-center">Nguyễn Thị Lệ - Khoa CNTT</p>
    </div>
</footer>